<body>
  <!-- Ventana principal que se ve al acceder a la página -->
  <div id="home-screen" class="center">
    <h2 class="white-text main-title center">"Mejora tu salud como si estuvieras en manos de un experto."</h1>
    <h5 class="white-text sub-title">La App pensada para conseguir una dieta adecuada en función de tus hábitos y enfermedades.</h5>
    <a href="https://editor.stamplay.com/register" class="btn btn-large full-width waves-effect waves-light yellow darken-2 segment-track-start">
      <span class="dark-grey-text">Suscríbete</span>
    </a>
  </div>
  <!-- Apartado que describe las caracteristicas -->
  <div id="informacion" class="row center">
    <div class="col s4">
        <img class="circle responsive-img" alt="" src="../img/totoro.jpg" style="max-width: 30%">
        <h5>¿Tienes algún problema de salud?</h5>
        <p>Dinos tus problemas para que podamos  realizar un seguimiento personalizado y exclusivo para ti.</p>
    </div>
    <div class="col s4">
        <img class="circle responsive-img" src="cool_pic.jpg">
        <h5>Obtén una alimentación perfecta</h5>
        <p>Nuestros expertos se encargarán de encontrar la mejor alimentación que se acerque a tus necesidades.</p>
    </div>
    <div class="col s4">
        <img class="circle responsive-img" src="cool_pic.jpg">
        <h5>¿Dudas sobre algunos productos?</h5>
        <p>No te preocupes, nosotros te recomendaremos los productos que más te beneficien.</p>
    </div>
  </div>
</body>