<body>
  <!-- Estilos de todas los elementos de esta pagina -->
  <link rel="stylesheet" type="text/css" href="./css/home.css"/>
  <!-- Ventana principal que se ve al acceder a la página -->
  <div id="home-screen" class="row">
    <div id="propuesta-valor" class="col s12">
        <h3>"Mejora tu salud como si estuvieras en manos de un experto."</h3>
    </div>
    <div id="descripcion-propuesta-valor" class="col s12">
        <h5>La App pensada para conseguir una dieta adecuada en función de tus hábitos y enfermedades.</h5>
    </div>
    <div id="boton-suscribirse" class="col s12">
        <a  href="https://wordpress.us17.list-manage.com/subscribe?u=d12278d952306f4f1b30df86d&id=03ffce199b" class="btn-large waves-effect waves-light yellow darken-2">
          <span class="dark-grey-text">Suscríbete</span>
        </a>
    </div>
    <div id="desplazamiento-abajo" class="col s12">
        <a href="#informacion" class="btn-floating btn-large btn-flat waves-effect"><i class="material-icons" style="font-size:50px;">expand_more</i></a>
    </div>
  </div>
  
  <div id="informacion">
    <div id="explicacion" class="row">
      <div id="explicacion-izquierda" class="col l6 valign-wrapper">
        <div class="title">
          <h3>Titulo prueba</h3>
        </div>
        <div class="description">
          sdofjsoifjsodsfguihfigh
        </div>
      </div>
      <div id="explicacion-derecha" class="col offset-l1 l5 no-right-padding valign">
        <img src="../img/totoro.jpg" alt="Choose a Dope Theme" class="responsive-img">
      </div>
    </div>
    <div id="explicacion" class="row">
      <div id="explicacion-izquierda" class="col l6 valign-wrapper">
        <div class="title">
          <h3>Titulo prueba</h3>
        </div>
        <div class="description">
          sdofjsoifjsodsfguihfigh
        </div>
      </div>
      <div id="explicacion-derecha" class="col offset-l1 l5 no-right-padding valign">
        <img src="../img/totoro.jpg" alt="Choose a Dope Theme" class="responsive-img">
      </div>
    </div>
    <div id="explicacion" class="row">
      <div id="explicacion-izquierda" class="col l6 valign-wrapper">
        <div class="title">
          <h3>Titulo prueba</h3>
        </div>
        <div class="description">
          sdofjsoifjsodsfguihfigh
        </div>
      </div>
      <div id="explicacion-derecha" class="col offset-l1 l5 no-right-padding valign">
        <img src="../img/totoro.jpg" alt="Choose a Dope Theme" class="responsive-img">
      </div>
    </div>
  </div>

  <!-- Apartado que describe las caracteristicas -->
  <div id="caracteristicas" class="row center">
    <div class="col s4">
        <img class="circle responsive-img" alt="" src="../img/totoro.jpg" style="max-width: 30%">
        <h5>¿Tienes algún problema de salud?</h5>
        <p>Dinos tus problemas para que podamos  realizar un seguimiento personalizado y exclusivo para ti.</p>
    </div>
    <div class="col s4">
        <img class="circle responsive-img" src="../img/totoro.jpg">
        <h5>Obtén una alimentación perfecta</h5>
        <p>Nuestros expertos se encargarán de encontrar la mejor alimentación que se acerque a tus necesidades.</p>
    </div>
    <div class="col s4">
        <img class="circle responsive-img" src="../img/totoro.jpg">
        <h5>¿Dudas sobre algunos productos?</h5>
        <p>No te preocupes, nosotros te recomendaremos los productos que más te beneficien.</p>
    </div>
  </div>
</body>